$timingInterval: 75;
$maxTimingSteps: 20;
@mixin animation($name, $easing, $iterations: 1, $hideByDefault: true, $pseudoSelector: false) {
    animation-iteration-count: $iterations;
    animation-fill-mode: forwards;
    animation-timing-function: $easing;
    @if($hideByDefault) {
        opacity: 0;
    }
    @if ($pseudoSelector==false) {
        animation-name: $name;
        animation-play-state: paused;
        &.play {
            animation-play-state: running;
        }
    }
    @else {
        &:hover {
            animation-name: $name;
        }
    }
}

.anim {
    @for $i from 1 through $maxTimingSteps {
        &-#{$i} {
            animation-duration: #{$i*$timingInterval}ms;
            @for $j from 1 to $maxTimingSteps+1 {
                &-#{$j} {
                    animation-duration: #{$i*$timingInterval}ms;
                    animation-delay: #{$j*$timingInterval}ms;
                }
            }
        }
    }
    &-no-replay {
        animation-duration: 0ms !important;
        animation-delay: 0ms !important;
    }
    &-fade-in {
        @include animation(fade-in, ease-in, 1, true);
    }
    &-pop-fade-in {
        @include animation(pop-fade-in, linear, 1, true);
    }
    &-pop-focus {
        @include animation(pop-focus, linear, 1, false, true);
    }
    &-tracking-in-expand {
        @include animation(tracking-in-expand, linear);
    }
    &-blink {
        @include animation(blink, linear, infinite, false);
    }
    &-shrink {
        @include animation(shrink, linear, 1, false);
    }
    &-slide-in-left {
        @include animation(slide-in-left, ease, 1, true);
    }
    &-slide-in-top {
        @include animation(slide-in-top, ease, 1, true);
    }
    &-fade-in-fwd {
      @include animation(fade-in-fwd, cubic-bezier(0.390, 0.575, 0.565, 1.000), 1, true);
    }
    &-fade-in-left {
      @include animation(fade-in-left, cubic-bezier(0.390, 0.575, 0.565, 1.000), 1, true);
    }
    &-fade-in-top {
      @include animation(fade-in-top, cubic-bezier(0.390, 0.575, 0.565, 1.000), 1, true);
    }
    &-bounce-in-top {
      @include animation(bounce-in-top, linear, 1);
    }
}

@keyframes pop-fade-in {
    0% {
        opacity: 0;
        transform: translate(0px, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes pop-focus {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, -10px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.4em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.85);
    }
}

@keyframes fade-in-fwd {
    0% {
        transform: scale(0.98);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px) rotate(0deg) translateX(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0) rotate(0deg) translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px) rotate(5deg) translateX(2px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0) translateX(3px);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px) rotate(-2deg) translateX(-1px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0) translateX(-2px);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px) translateX(-1px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0) rotate(0) translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}